.row {
  margin: 100px auto 0;
}

/* BLOCCO LEZIONI */
#lezioni h1 {
  margin-bottom: 20px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container [class*="col-"] {
  margin-top: 60px;
  margin-bottom: 20px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}